/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
.mob{
  width: 70%;
    margin: auto;
    display: block;
}
.input-search {
    width: 170px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
}
footer {
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    height: 170px;
    padding-top: 17%;
    background-size: cover;
}
footer .footerul ul {
    display: inline-flex;
    align-items: center;
    float: right;
    vertical-align: -webkit-baseline-middle;
    /*padding-top: 10px;*/
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.mob{
  width: 70%;
    margin: auto;
    display: block;
}
.input-search {
    width: 170px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
}
footer {
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    height: 170px;
    padding-top: 17%;
    background-size: cover;
}
footer .footerul ul {
    display: inline-flex;
    align-items: center;
    float: right;
    vertical-align: -webkit-baseline-middle;
    /*padding-top: 10px;*/
}
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.input-search {
    width: 215px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.input-search {
    width: 215px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.input-search {
    width: 215px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
}
}

/* Pixel 2 ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 731px)  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Pixel 2 ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 731px)  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

 }
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.input-search {
    width: 215px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
}
}

@media (max-width:768px){
.nav-item:last-child {
    background-image: linear-gradient(to top, #54e0d0, #34aacf);
    width: 40%;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
    margin-left: 0px;
    margin-right: 0px;
}
  .title {
    font-family: Lato-Regular;
    font-size: 28.5px;
  }
.input-search {
    width: 170px !important;
  }
.app ul {
    display: inline;
    align-items: center;
    margin-top: 30px;
    padding: 0;
}
footer {
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    height: 170px;
    padding-top: 17%;
    background-size: cover;
}
footer .footerul ul {
    display: inline-flex;
    align-items: center;
    float: right;
    vertical-align: -webkit-baseline-middle;
    /*padding-top: 10px;*/
}
.mob{
  height: 350px;
    margin: auto;
    display: block;
}
.btn-search {
    height: 47px;
}
.detail-div {
     margin: 0 0; 
}
.contact-h2 {
    font-family: Lato-Bold;
    font-size: 25px;
}
.contact-deatil-ul {
  margin-top: 10px;
}
.img-70 {
    width: 50%;
}
}